body {
    background: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    color: white;
    font-family: "Segoe UI", sans-serif;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: 20px;
}

a {
    text-decoration: none;
    transition: 100ms;
}

a:hover {
    text-shadow: 0 0 8px white;
}

footer {
    background: #161616;
    padding-left: 10px;
    margin-top:auto;
}

header {
    margin-top:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #161616;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #111111;
}

#active {
    background-color: #181818;
}